@{
    Layout = "_Layout";
}

<div class="centerBox">
    <h1>Welcome to <span id="salon">Eau Claire's Salon</span></h1>
    <h3>@Html.ActionLink("See all stylists", "Index", "Stylists")</h3>
    <h3>@Html.ActionLink("Search stylist by name", "Search", "Stylists")</h3>
    <h3>@Html.ActionLink("Search client by name", "Search", "Clients")</h3>
</div>
