@{
    Layout = "_Layout";
}

<div id="horizontalMenu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li> 
        <li>@Html.ActionLink("Search client", "Search")</li>
    </ul>
</div>

<div class="container contentBox">
    <h2>Found Client:</h2>

    @if (Model == null)
    {
        <h3>No clients have been found.</h3>
    }
    else
    {
        <h3><li>@Html.ActionLink($"{Model.Name}", "Details", new {id = Model.ClientId} )</li></h3>
    }
</div>

