@{
    Layout = "_Layout";
}

<div id="horizontalMenu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li> 
    </ul>
</div>

<div class="container contentBox">
    <h2>Enter the name of client you are looking for:</h2>
    <hr/>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="ClientName">Name:</label>
            <input type="text" name="clientName" id="ClientName" class="form-control"/>    
        </div>
        
        <input type="submit" value="Search" class="btn btn-info"/>
    }    
</div>

